<%- include('components/header'); %>
  <div class="container">
    <% if (articles && articles.length) { %>
      <% articles.forEach(function(post) { %>
        <div class="card mt-5">
          <div class="card-body text-center">
            <h5 class="card-title">
              <%= post.title %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">Geschrieben von <%= post.author %> am <%=
                  post.date.toLocaleDateString() %>
            </h6>
            <p class="card-text">
              <%= post.content %>
            </p>
            <p class="card-text"><small class="text-muted">Tags: <%= post.tags %></small></p>
            <a href="/articles/<%= post._id %>" class="card-link btn btn-primary mt-3">Lesen</a>
          </div>
        </div>
        <% }); %>
        <% } else { %>
        <p>Es wurden noch keine Artikel veröffentlicht.</p>
        <% } %>
      </div>
  <%- include('components/footer'); %>
</body>

</html>